<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codebros.eripple">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".widget.ErippleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eripple"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.codebros.eripple.screen.account.join.termsofuse.TermsOfUseDetailActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.codebros.eripple.screen.account.join.termsofuse.TermsOfUseActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_sample" >

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>
        <activity
            android:name="com.codebros.eripple.screen.account.login.LoginActivity"
            android:exported="true" >

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>
        <activity
            android:name="com.codebros.eripple.screen.sample.SampleActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>